Core/Inc/cred.h
Debug/Core/*
Debug/Core/Src/*
Debug/Core/Startup/*
Debug/Drivers/*
Debug/Drivers/STM32L0xx_HAL_Driver/*
Debug/Middlewares/
Debug/Middlewares/USB_Device_Library/*
Debug/USB_DEVICE/*
Debug/USB_DEVICE/App/*
Debug/USB_DEVICE/Target/*
Release/Core/*
Release/Core/Src/*
Release/Core/Startup/*
Release/Drivers/*
Release/Drivers/STM32L0xx_HAL_Driver/*
Release/Middlewares/
Release/Middlewares/USB_Device_Library/*
Release/USB_DEVICE/*
Release/USB_DEVICE/App/*
Release/USB_DEVICE/Target/*
